@import url('https://fonts.google.com/specimen/Roboto');

* {
    margin: 0;
    padding: 0;
}

body {  
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body, .header, .header-container,
.links, .hero-container, .hero-info
{
    display: flex;
}

.header-title, a,
.hero-main-text {
    color: #f9faf8;
}

.links, .hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header-container, .hero-container {
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

.header {
    justify-content: center;
}

.header-container {
    flex: 1;
    justify-content: center;
    padding: 18px;
}

.header-title {
    font-size: 24px;
    font-weight: 900;
    margin: 0 auto;
}

.links {
    list-style: none;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
}

.hero-container {
    justify-content: center;
    padding: 5em;
    gap: 30px;
    margin: 0 auto;
}

.hero-info {
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 420px;
    gap: 8px;
}

.hero-main-text {
    font-size: 48px;    
}

.btn {
    width: fit-content;
    border-style: none;
    border-radius: 10%;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px;
    font-weight: bold;
}

.hero-img {
    background-color: lightslategray;
    flex-basis: 300px;
    padding: 6em;
}

